body {
  background-color: chocolate;
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
}

#main-header {
  color: darkred;
  text-align: center;
  font-weight: bolder;
}
.sub-header {
  color: chocolate;
  text-align: center;
}
.header-background {
  margin-top: 20px;
  padding: 10px 10px;
  background-image: url(img/autumn.jfif);
}
.blogposts {
  margin: 25px auto;
  padding: 10px 10px 10px 10px;
  background-color: maroon;
  text-align: center;
  width: 40vw;
  height: 45vh;
}
.post-title {
  font-weight: bold;
  color: orangered;
}
.post-image {
  width: 250px;
  height: 200px;
}
.post-words {
  color: orange;
}
.post-links {
  color:goldenrod;
}