body {
  background-color: bisque;
  font-size: 20px;
}

.main-header {
  color: darkorchid;
  text-align: center;
}
.sub-header {
  color: cornflowerblue;
  text-align: center;
}
.header-background {
  margin-top: 20px;
  border: 3px solid palevioletred;
  padding: 10px 10px;
  background-image: url(img/autumn.jfif);
}
